<?xml version="1.0" encoding="UTF-8"?>
<beans 
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context.xsd" >

	<context:annotation-config />
	<context:component-scan base-package="ru.mrdekk.j2ee" />

	<import resource="database.xml" />
	
	<bean id="genericBean" class="ru.mrdekk.j2ee.lec4.GenericBean" init-method="init">
		<property name="recipeService" ref="recipeService" />
	</bean>

</beans>
