<?xml version="1.0" encoding="UTF-8"?>
<beans 
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:jee="http://www.springframework.org/schema/jee"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/jee 
							http://www.springframework.org/schema/jee/spring-jee-3.0.xsd" >

	<!-- jee:jndi-lookup id="comfortableTemperature" jndi-name="cfg/Config/ComfortableTemperature" / -->
	<bean id="comfortableTemperature" class="org.springframework.jndi.JndiObjectFactoryBean" >
		<property name="jndiName" value="cfg/Config/ComfortableTemperature" />
		<property name="lookupOnStartup" value="true" />
	</bean>

	<bean id="genericBean" class="ru.mrdekk.j2ee.lec3.GenericBean" init-method="init" >
		<property name="comfortableTemperature" ref="comfortableTemperature" />
	</bean>

</beans>
